html, body{
    height= 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}
.sky,.grass,.road{
    position: relative;
}
.sky{
    background: skyblue;
    height: 40%;

}
.grass{
    background:green;
    height: 30%
}
.road{
    background:dimgray;
    height:30%;
    box-sizing: border-box;
    border-top: 10px solid gray;
    border-bottom: 10px solid gray;
    width : 100%;
}
.lines{
    box-sizing: border-box;
    border: 5px dashed #fff;
    height:0px;
    width : 100%;
    position: absolute;
    top : 85%;


}